.pageTitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;

    @media (min-width: 992px) {
        margin-top: 90px;
        margin-bottom: 40px;
        margin-bottom: 16px;
        font-size: 24px;
    }
}
