.projectWrapper {
    padding: 30px 0 0;

    a {
        text-decoration: none !important;
        font-size: 16px;
    }
}

.projectTitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

.projectDescription {
    padding-top: 8px;
}

.project {
    margin-bottom: 24px;
}
